
<mat-card class="card-feed-entry" style="padding-left: 73px;cursor: -webkit-grabbing;" (click)="openLinkInBrowser()">
  <mat-card-title>{{feed.title}}</mat-card-title>
  <mat-card-subtitle>{{feed.author}} - {{feed.pubDate | date:'dd-MM-yyyy'}}</mat-card-subtitle>
  <mat-card-content>{{feed.description | stripHtmlTags}}</mat-card-content>
</mat-card>
