<div class="container-fluid" style="color: white; background-color: #1B9A59">
<mat-toolbar color="green" style="margin-left: -58px;">
  <span class="center"><em style="margin-left: 334px;">RSS FEED NEWS</em></span>
  <input #textbox type="text" [(ngModel)]="textValue" required>
        <button (click)="refreshFeedler(textbox.value)">go</button>
        <button (click)="textValue=''">Clear</button>
  <span class="pointer-cursor" style="margin-left: 7px;"><mat-icon (click)="refreshFeed()">refresh</mat-icon></span>
</mat-toolbar>

<app-feed *ngFor="let feed of feeds" [feed]="feed" ></app-feed>
<app-spinner *ngIf="!feeds.length"></app-spinner>
</div>
